article{
    /*padding: 30px;*/
}
.menuPacient .columna{
    position: relative;
    height: 100%;
    padding: 0;

}

.menuPacient .columna span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.menuPacient .row{
    height: 10vw;
    max-height: 70px;
    width: 100%;
    margin: 0;

}
.menuPacient a{
    display: block; height: 100%; width: 100%;
    border-radius: 0;
}
.menuPacient{
    width: 100%;
    margin: 0;
    padding: 0;

}
header{
    color: whitesmoke;
    background-color: #2b2b2b;
    padding: 20px ;
    text-align: center;
    box-shadow: 3px 3px 3px #353535;
}
.contenidor{
    display: block;


}
.btn-secondary{
    background-color: #2b2b2b;
    border: none;

}
.categories .row{
    height: 150px;
    margin:10px;
}
.categories .columna{
    background: grey;

    min-width: 300px;


    margin-left:0;

    height: 100%;
    width: 100%;


      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */

      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.categories .columna:hover,
.categories .columna:focus {
    transform: scale(1.2);
}

.categories .bgCol{
    position: relative;
    padding: 5px;
    padding-bottom: 0px;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container.categories{
    width: 100%;

}
.categories a{
    position: absolute;
    top:0;
    left:0;
    display: block; height: 100%; width: 100%;
    border-radius: 0;
}
.categories span{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    padding-left: 20px ;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    color:white;

}
@media (min-width: 992px){
.container.categories { max-width: 1500px;
                }
}
@media (min-width: 768px){
    .container.categories { max-width: 1500px;
    }
}

html,body {
    font-size: 2rem!important;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html,body{font-size: 1.6rem!important;;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { html,body{font-size: 1.4rem!important;;} }

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) { html,body{font-size: 1.2rem!important;;} }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  html,body{font-size: 1rem!important;;} }

.list-group{
    margin: 20px;
    margin-top:35px;
}
.hidden{
    display: none;
}