* {
    padding: 0px;
    margin: 0px;
}

.separador {
    height: 5px;
    width: 100%;
    background-color: red;
}

.img-perfil {
    justify-content: center;
    align-content: center;
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.nom-perfil {
    text-align: center;
}
.centrar-tot {
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    margin: 0px auto;
}
.centrar-tot p{
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}
.col-white {
    color: white;
}