* {
    padding: 0px;
    margin: 0px;
    color: white;

}
body {
    background: rgba(0,0,0,.85);
    overflow: hidden;
}
a:link {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}

.separador {
    height: 5px;
    width: 100%;
    background-color: red;
}

.img-perfil {
    justify-content: center;
    align-content: center;
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.nom-perfil {
    text-align: center;
}
.centrar-tot {
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    margin: 0px auto;
}
.centrar-tot p{
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}
.col-white {
    color: white;
}
.menu-categoria {
    margin-left: 5px;
    position: absolute;
    width: 300px;
    overflow: hidden;
}
.titol-categoria {
    border-bottom: red;
    border-bottom-style: solid;
    font-family: "Comic Sans MS";
    font-size: 18px;
    font-style: oblique;
    color: white;
}
.no-style {
    text-decoration: none;
}
.sub-cat {
    border-radius: 30px;
    border-style: solid;
    border: 2px 2px 2px 2px;
    color: white;
}
.menu-idioma {
    position: absolute;
    top: 30px;
    right: 20px;
}